pyautogui                                                                                                        
pillow
PIL
pytesseract
tesseract
requests                                                                                                                                                                                           googlesearch                                               threading                                                                                        
